button {
  border-radius: 1vh;
  border: none;
  background-color: #f1f1f1;
  padding: 1vh 2vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2272e3;
  color: #f1f1f1;
}

input {
  border-radius: 1vh;
  border: none;
  padding: 1vh 2vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
}

input[type="file"]::-webkit-file-upload-button {
  border-radius: 1vh;
  color: rgb(0, 0, 0); /* White text */
  padding: 10px 20px; /* Some padding */
  border: .2vh solid #61616195; /* Remove borders */
  cursor: pointer; /* Pointer/hand icon */
  font-size: 2vh; /* Increase font size */
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #2272e3;
  color: #f1f1f1;
}



